/*defining flex style to the divs*/
.flex-container{
	display: flex;			/*The container div becomes flexible by setting its display property to flex*/
	flex-direction: row; 	/*Set the direction of the flexible items inside the div elements*/
	width:100%;
}

/*Defining the position of the first column inside the flex container*/
.col1{
	margin-left: 30px;
	margin-top: 45px;
}

/*Defining the position of the first column inside the flex container*/
.col2{
	margin-top: 45px;
	padding-left:50px;
}

/*styling the links and buttons in the home page*/
.link,.btn {
	color:white;
	text-decoration: none;	/*removes the default underlines from the links*/
	border:1px solid white;
	padding:6px;
	border-radius: 7px;
}

/*Styling the links and buttons when the mouse is hovered on them*/
.link:hover,.btn:hover{
	border-color:coral;
	color:coral;
	transition: .3s ;	/*defines the duration of the transition*/
}